<a href="https://colab.research.google.com/github/GGS126/main/blob/main/%ED%8C%90%EB%8B%A4%EC%8A%A4%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

col_name = ['학번','이름', '전공', '수학' ,'영어' ,'컴퓨터']
list1 = [
    ['S001', '김민수', '컴퓨터공학', 80, 75 ,90],
    ['S002', '이수정', '경영학', 85, 55 ,75],
    ['S003', '박지훈', '컴퓨터공학', 92, 79 ,95],
    ['S004', '최영희', '디자인', 70, 85 ,80],
    ['S005', '홍길동', '경영학', 78, 82 ,85],
    ['S006', '김하늘', '컴퓨터공학', 88, 90 ,92]
]

df = pd.DataFrame(list1, columns=col_name)
df['평균'] = df[['수학', '영어', '컴퓨터']].mean(axis=1).round(1)

print("▶ 전공이 컴퓨터공학인 학생")
print(df[df['전공'] == '컴퓨터공학'])

print("\n▶ 평균 점수가 85점 이상인 학생")
print(df[df['평균'] >= 85])

▶ 전공이 컴퓨터공학인 학생
     학번   이름     전공  수학  영어  컴퓨터    평균
0  S001  김민수  컴퓨터공학  80  75   90  81.7
2  S003  박지훈  컴퓨터공학  92  79   95  88.7
5  S006  김하늘  컴퓨터공학  88  90   92  90.0

▶ 평균 점수가 85점 이상인 학생
     학번   이름     전공  수학  영어  컴퓨터    평균
2  S003  박지훈  컴퓨터공학  92  79   95  88.7
5  S006  김하늘  컴퓨터공학  88  90   92  90.0